services:
  php-apache-environment:
    container_name: fs25-php-apache
    build:
      context: .
      dockerfile: ../fs25_storage_server/Dockerfile
    restart: always
    volumes:
      - /opt/FS25-Mod-Sync-Server:/var/www/html
      - /opt/FS25-Mod-Sync-Server/php.ini:/usr/local/etc/php/php.ini
    ports:
      - '8001:80'
  db:
    container_name: fs25_db
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: MYSQL_ROOT_PASSWORD #changeme
      MYSQL_DATABASE: FS25_MODLIST
      MYSQL_USER: MYSQL_USER #changeme
      MYSQL_PASSWORD: MYSQL_PASS#changeme
    ports:
      - '9908:3306'
    volumes:
      - fs25_mysql_data_volume:/var/lib/mysql
  phpmyadmin:
    container_name: fs25_phpmyadmin
    image: phpmyadmin
    ports:
      - '8082:80'
    restart: always
    environment:
      PMA_HOST: db
    depends_on:
      - db
volumes:
  fs25_mysql_data_volume:
